<% provide(:title, 'About Us') %>

<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
	</head>
	</head>
	<body>
		<h1>About Us</h1>
		<p>
			I am reading Ruby on Rails tutorial book. This is a sample application for the ruby on
			rails tutorial.
		</p>
	</body>
</html>