<% provide(:title, 'Help') %>

<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Help</h1>
		<p>
			This is a help page. I am always ready to help.
		</p>
	</body>
</html>
